DirectoryIndex index.php
Options -Indexes

SetEnvIf Authorization "(.*)" HTTP_AUTHORIZATION=$1

<FilesMatch "(^\.|RULES\.md$|README\.md$)">
    Require all denied
</FilesMatch>

<IfModule mod_headers.c>
    Header set X-Content-Type-Options "nosniff"
    Header set Referrer-Policy "no-referrer"
</IfModule>
